<launch>
    <include file="$(find robot_main)/launch/core_hw.launch"/>
    <!-- <include file="$(find robot_main)/launch/includes/vel_smoother.launch"/> -->

    <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
      <arg name="config_file" value="$(find robot_main)/cfg/cmd_vel_mux.yaml" />
      <arg name="nodelet_manager_name" value="smoother_nodelet_manager"/>
    </include>

      <node pkg="nodelet" type="nodelet" name="smoother_nodelet_manager"  args="manager"/>

      <node pkg="nodelet" type="nodelet" name="smoother_nodelet"
        args="load yocs_velocity_smoother/VelocitySmootherNodelet smoother_nodelet_manager">
        <remap from='/smoother_nodelet/raw_cmd_vel' to='/raw_cmd_vel'/>
        <remap from='/smoother_nodelet/odometry' to='odom'/>
        <remap from='/smoother_nodelet/smooth_cmd_vel' to='/smooth_cmd_vel'/>
      </node>

      <node pkg="bot_controller" type="vel_scaler.py" name="smooth_vel_scaler" output="screen">
        <param name="sub_cmd_vel" value="smooth_cmd_vel"/>
        <param name="pub_cmd_vel" value="cmd_vel"/>
      </node>

      <node pkg="bot_controller" type="human_monitor.py" name="human_monitor" output="screen">
        <param name="human_lin_scale" value="0.6"/>
        <param name="human_ang_scale" value="0.6"/>
        <param name="human_dist" value="2.5"/>
      </node>

    <!-- imu -->
    <include file="$(find robot_main)/launch/includes/imu_filter.launch"/>

    <!-- navigation stack -->
    <!-- <include file="$(find ros_dumbobot_nav)/launch/hg_move_base_lab.launch"/> -->

    <!-- openni tracker -->
    <include file="$(find robot_main)/launch/includes/openni_tracker.launch"/>

    <!-- led -->
    <!-- <include file="$(find robot_main)/launch/includes/path_to_direction.launch"/> -->
</launch>
