<launch>
  <arg name="color" default="yellow"/>
  <arg name="ismove" default="True" />

  <include file='$(find robot_main)/launch/includes/joystick.launch'>
    <arg name="pub_topic" value="/cmd_vel"/>
  </include>


  <!-- <param name="color" value="$(arg color)" />
  <param name="ismove" value="$(arg ismove)" /> -->
  <node pkg="turn_signal" type="running_avg_led.py" name="running_avg_led" output="screen">
      <param name="sub_topic" value="/cmd_vel" />
      <param name="pub_topic" value="/tsState"/>
      <param name="update_rate" value="5.0" />
      <param name="light_rate" value="8.0"/>

      <param name="baudrate" value="115200"/>
      <param name="dev" value="/dev/arduino-nuke"/>

      <param name="color" value="$(arg color)" />
      <param name="ismove" value="$(arg ismove)" />
  </node>
</launch>
