<launch>
    <include file="$(find robot_main)/launch/core_hw.launch"/>
    <include file="$(find robot_main)/launch/includes/vel_smoother.launch"/>

    <!-- imu -->
    <include file="$(find robot_main)/launch/includes/imu_filter.launch"/>

    <!-- navigation stack -->
    <!-- <include file="$(find ros_dumbobot_nav)/launch/hg_move_base_lab.launch"/> -->

    <!-- openni tracker -->
    <include file="$(find robot_main)/launch/includes/openni_tracker.launch"/>

    <!-- led -->
    <include file="$(find robot_main)/launch/includes/path_to_direction.launch"/>
</launch>
