<launch>

  <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker">
  <param name="magic" value="-1" />
  </node>
  <!-- <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" output="screen">
    <param name="magic" value="-1" />
  </node> -->

  <node pkg="people_stat" type="people_stat.py" name="people_stat" output="screen">
    <param name="holding_time" value='15.0'/>
  </node>

</launch>
